* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.username-section {
  padding: 20px;
  text-align: center;
}

.username-section input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.username-section input:focus {
  border-color: #007bff;
}

.username-section button {
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.username-section button:hover {
  background-color: #0056b3;
}

.chat-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  height: 80%;
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

#message-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

#message-input:focus {
  border-color: #007bff;
}

#send-button {
  width: 15%;
  margin-left: 10px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

#send-button:hover {
  background-color: #0056b3;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.message .username {
  font-weight: bold;
  color: #007bff;
}

.message .timestamp {
  font-size: 0.9em;
  color: #888;
}

.message .content {
  margin-top: 5px;
}
